{% extends "base.html" %}

{% block content %}
<h2>Passwort vergessen</h2>

{% if error %}
<div class="message-box">
    <p>{{ error }}</p>
</div>
{% endif %}

{% if temporary_password %}
<div class="message-box">
    <p>Dein temporäres Passwort lautet:</p>
    <strong>{{ temporary_password }}</strong>
    <p>Logge dich damit ein.</p>
</div>
{% endif %}

<form method="POST">
    <label>Benutzername:</label>
    <input type="text" name="username" required>

    <button type="submit">Temporäres Passwort erstellen</button>
</form>

<a href="{{ url_for('login') }}">Zurück zum Login</a>
{% endblock %}