{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

{% if error %}
<div class="message-box">
    <p>{{ error }}</p>
</div>
{% endif %}

<form method="POST">

    <label>Username:</label>
    <input type="text" name="username" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>

</form>

<br>

<a href="{{ url_for('forgot_password') }}">
    Passwort vergessen?
</a>

<br><br>

<a href="{{ url_for('register') }}">
    Noch keinen Account? Registrieren
</a>

{% endblock %}